/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 15px;
}

body * {
  margin: 5px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

img {
  display: block;
  width: calc(100vw - 60px);
}

iframe {
  width: calc(100vw - 60px);
  height: 500px;
}

.disable {
  display: none;
}